# Ignore pytest cache
.pytest_cache/

# Ignore Python bytecode
__pycache__/

# Ignore Visual Studio Code settings
.vscode/

# Ignore virtual environments
venv/

# Ignore vosk model
model/
vosk-model-en-us-0.42-gigaspeech/
